<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeworkzone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditTugasActivity"></activity>
        <activity android:name=".DetailTugasActivity" />
        <activity android:name=".EditMatakuliahActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile Developer" />
        <activity
            android:name=".AddTugasActivity"
            android:label="Tugas" />
        <activity
            android:name=".AddMatakuliahActivity"
            android:label="Mata Kuliah" />
        <activity
            android:name=".TugasActivity"
            android:label="Tugas" />
        <activity
            android:name=".MatakuliahActivity"
            android:label="Mata Kuliah" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>